#pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#cabecalho {
    height: 150px;
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4b2be;
    border: solid 5px #591C2C;
    border-radius: 15px;
}
#logo {
    width: 150px;
    height: 130px;
}
#procurar {
    width: 275px;
    height: 45px;
    border: solid 3px #591C2C;
    border-radius: 8px;
    font-size: 17px;
    padding-left: 5px;
}
#botaoPesquisa {
    width: 100px;
    height: 45px;
    border: outset 3px #591C2C;
    border-radius: 8px;
    background-color: #591C2C;
    color: white;
    font-size: 17px;
}
#botoes {
    display: flex;
}
.botoes2 {
    color: white;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-family: 'Praise', cursive;
    font-family: 'Roboto', sans-serif;
}
#botao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    font-size: 17px;
    border: outset 3px #591C2C;
    border-radius: 8px;
    background-color: #591C2C;
    margin-right: 15px;
}
#botao2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    font-size: 17px;
    border: outset 3px #591C2C;
    border-radius: 8px;
    background-color: #591C2C;
}
#subCab {
    display: flex;
    margin-top: 10px;
    width: 1200px;
    height: 50px;
    background-color: #f4b2be;
    border: solid 5px #591C2C;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}
.links {
    color: #591C2C;
    text-decoration: none;
}
#login_cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 700px;
    width: 1300px;
}
#caixa_login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 550px;
    border: solid 5px #591C2C;
    border-radius: 20px;
}
#login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#login1 {
    display: flex;
    justify-content: center;
    width: 550px;
    font-family: 'Cinzel', serif;
    font-family: 'Praise', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
}
#dados_login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    margin-top: 30px;
}
#form_login {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
#email_login {
    width: 400px;
    margin-bottom: 15px;
}
#senha_login {
    width: 400px;
}
#botao_login {
    display: flex;
    justify-content: center;
}
#botao_login1 {
    display: flex;
    justify-content: center;
    width: 400px;
}
#botao_login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 30px;
    border: outset 3px #591C2C;
    border-radius: 8px;
    background-color: #591C2C;
    margin-top: 15px;
    font-size: 20px;
}
#botao_login2 {
    color: white;
    text-decoration: none;
}
#acessar_com {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    margin-top: 20px;
}
#acessar_imgs {
    display: flex;
    margin-top: 15px;
}
#login_google {
    margin-left: 15px;
}
#caixa_cadastro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 550px;
    border: solid 5px #591C2C;
    border-radius: 20px;
}
#cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#cadastro1 {
    display: flex;
    justify-content: center;
    width: 550px;
    font-family: 'Cinzel', serif;
    font-family: 'Praise', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
}
#dados_cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    margin-top: 30px;
}
#form_cadastro {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
#nome_cadastro {
    width: 400px;
    margin-bottom: 15px;
}
#dataNasc_cadastro {
    width: 400px;
    margin-bottom: 15px;
}
#tel_cadastro {
    width: 400px;
    margin-bottom: 15px;
}
#cpf_cadastro {
    width: 400px;
    margin-bottom: 15px;
}
#email_cadastro {
    width: 400px;
}
#sexo {
    margin-bottom: 2px;
}
#sexo2 {
    width: 400px;
    margin-bottom: 15px;
}
#senha_cadastro {
    width: 400px;
    margin-bottom: 15px;
}
#botao_cadastro1 {
    display: flex;
    justify-content: center;
    width: 400px;
}
#botao_cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 30px;
    border: outset 3px #591C2C;
    border-radius: 8px;
    background-color: #591C2C;
    margin-top: 15px;
    font-size: 20px;
}
#botao_cadastro2 {
    color: white;
    text-decoration: none;
}
#caixaFormasPag {
    height: 150px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4b2be;
    border: solid 5px #591C2C;
    border-radius: 20px;
    margin-top: 10px;
}
#formasPag {
    display: flex;
    width: 1000px;
    justify-content: center;
}
#formasDPag {
    color: #591C2C;
    font-family: 'Praise', cursive;
    font-size: 20px;
}
#formas {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}
#formasDePag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    margin-bottom: 20px;
}
#caixaSubrodape {
    height: 150px;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f4b2be;
    border: solid 5px #591C2C;
    border-radius: 15px;
    margin-top: 15px;
}
.itens {
    color: #591C2C;
    list-style: none;
    font-size: 20px;
}
#cadastrarProd {
    color: #591C2C;
    text-decoration: none;
}
#rodape {
    height: 150px;
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4b2be;
    border: solid 5px #591C2C;
    border-radius: 10px;
    margin-top: 15px;
}
#nome {
    color: #591C2C;
    font-family: 'Praise', cursive;
    font-size: 80px;
}
#redesSociais {
    display: flex;
    width: 300px;
    justify-content: center;
}
#redesSoc {
    color: #591C2C;
    font-family: 'Praise', cursive;
}
#redes {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
#facebook {
    margin-right: 15px;
}
#instagram {
    margin-right: 15px;
}
